<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Login</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    {% if messages %}
            <div class="alert alert-danger mt-2" role="alert" aria-live="polite">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
    {% endif %}
    <div class="container mt-5">
        <h2 class="text-center">Admin Login</h2>
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="username_or_email">Username or Email</label>
                <input type="text" class="form-control" id="username_or_email" name="username_or_email" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Login</button>
        </form>
    </div>
</body>
</html>
